<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Selection</title>
</head>
<body>
<h1>Select a Product</h1>


<div th:if="${error != null}">
    <p th:text="${error}"></p>
</div>


<form th:action="@{/nutrition/save-nutrition}" method="post">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
    <input type="hidden" name="dailyRecordId" th:value="${dailyRecord.id}" />

    <div th:if="${foundProducts != null && !foundProducts.isEmpty()}">

        <label for="grams">Enter Grams:</label>
        <input type="number" name="grams" id="grams" required min="1">


        <ul>
            <li th:each="product : ${foundProducts}">
                <input type="radio" th:id="${product.barcode}" th:name="barcode" th:value="${product.barcode}" required/>
                <label th:for="${product.barcode}" th:text="${product.name}"></label>
            </li>
        </ul>
    </div>


    <button type="submit">Add Selected Product</button>
</form>

<form th:action="@{/daily-record}" method="get">
    <input type="hidden" name="selectedDate" th:value="${dailyRecord.date}"/>
    <button type="submit">Back to Daily Record</button>
</form>





</body>
</html>
